<!DOCTYPE html>
<html>
    <head>
        <title>My Website!</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <h1>{% block heading %}{% endblock %}</h1>

        {% block body %}
        <h1>Spell Bee Words</h1>
<ul>
{% for note in notes %}
    <li>{{ note }}</li>
{% endfor %}
</ul>

<form action="{{ url_for('spell') }}" method="post">
<input type="text" name="word" placeholder="Enter Bee_word Here">
<button>Click</button>
</form>
        {% endblock %}
    </body>
</html>