{% extends 'Bee/base.html' %}

{% block title %}BeeWord{% endblock%}

{% block body %}
    <h1>Spell Bee Word</h1>
    <br />
    <form action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <label for="Level">Select  the Difficulty Level of Bee Word: </label>
      <select name="level">
        <option value="">--Make a choice--</option>
        <option value="ONE">ONE</option>
        <option value="TWO">TWO</option>
        <option value="THREE">THREE</option>
      </select>
      <p> </p>
      <input type="text" name="word" placeholder="Enter Bee_word spelling Here">
      <button type="submit" name="submit_check" value="submit_check">Check word</button>
      
      
      </form>

{% endblock%}
